.header-div {
	background-color: #0099FF;
	padding: 2px;
}

.navbar {
	margin-bottom: 0;
	/*  background-color: #fff;*/
	z-index: 9999;
	border: 0;
	font-size: 16px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 1px;
	border-radius: 0;
	line-height: 35px;
	height: 60px;
}

.navbar li a, .navbar .navbar-brand {
	color: #fff !important;
	line-height: 10px;
	margin-top: 12px;
	height: 36px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
	color: #f4511e !important;
	background-color: #fff !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	color: #fff !important;
}

.nav .dropdown .dropdown-menu {
	background-color: #0044cc;
}

.dropdown-menu li a {
	line-height: 25px;
	height: 35px;
}

.yt-table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom:20px;
}

.yt-table th, .yt-table td {
	text-align: left;
	padding: 12px;
}

.yt-table th {
	width: 150px;
}

.yt-table tr:nth-child(odd) {
	background-color: #e3e3e3
}

.yt-table2 {
		border-collapse: collapse;
    	width: 100%;
    	border:1px solid white;
    	cellspacing:0px;
    	margin-bottom:20px;
	}
.yt-table2 td {
    	text-align: left;
    	padding: 5px;
    	border:0px solid white;
	}
.yt-table2 th {
		background:#2F79BA;
		color:white;
    	text-align: left;
    	padding: 5px;
		border:0px solid white;
	}
.yt-table2 tr:nth-child(even) {
	background-color: #e3e3e3
}

.well-head p {
	color: black;
	margin-top: -8px;
	margin-bottom: 2px;
	font-size: 18px;
	font-weight: bold;
}

.well-head hr {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	border-width: 2px;
	border-color: #2F79BA;
}
.well {
	padding-bottom: 0px;
}
.btn {
	padding: 4px 5px;
}
